@import './base.css';
a,
.coffe {
  text-decoration: none;
  color: #8c7051;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* background-color: rgba(186, 78, 10, 0.749); */
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }
}
